*{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}


.header{
    display: flex;
    background: #ED4C5C;
    width: 1440px;
    height: 500px;
}

.header_text{
margin-top:122px ;
margin-left: 165px;
width: 445px;
height: 195px;
color: #FFFFFF;
}

.header_text1 {
    font-weight: 600;
    font-size: 36px;

}

.header_text2 {
    margin-top: 24px;
    font-weight: 400;
    font-size: 14px; 
}

.header_logo{
    width: 32;
    height: 32;
    margin-top: 40px;
    display: flex;
    gap: 23px;

}
 .img_header{
    margin-left: 81px;
    margin-top: 94px;
 }


 .contact{
    width: 1440px;
    height: 500px;
    top: 500px;
    background: #FFFFFF; 
    display: flex;
 }

 .contact_text {
    margin-top: 117px;
    margin-left: 176px;
    width: 445px;
    height: 160px; 
    color: #000000;
 
}

 .contact_text1 {
    font-weight: 600;
    font-size: 36px;  
}

.contact_text2 {
    font-weight: 400;
    font-size: 14px;
    margin-top:60px ;
    
}

.table{
    width: 540px;
    height: 305px;
    border-radius: 6px;
    margin-left: 114px;
    margin-top: 117px;  
}

.table_flex{
    display: flex;
    gap: 30px;
}

.table1{
    width: 255px;
    height: 60px;
    top: 617px;
    left: 735px;
    border-radius: 6px;
    border-width: 1px;
    color: #13274380;
    border: 1px solid #333333 ;  
    font-weight: 400;
    font-size: 16px;
}
.table2{
    width: 255px;
    height: 60px;
    top: 617px;
    left: 735px;
    border-radius: 6px;
    border-width: 1px;
    color: #13274380;
    border: 1px solid #333333 ;  
    font-weight: 400;
    font-size: 16px;
}

.table3{
    margin-top: 24px;
    width: 535px;
    height: 60px;
    top: 701px;
    left: 735px;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid #333333;   
    font-weight: 400;
    font-size: 16px;
    color: #13274380;
    
}

.button{
    margin-top: 27px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    border-width: 1.5px;
    background: #ED4C5C;
    font-weight: 400;
    font-size: 14px;  
    color: #FFFFFF;

}

.footer{
    display: flex;
    background: #FAFAFA;
    width: 1440px;
    height: 435px;
    top: 1045px;  
    color:#101010;
    ;
}

.group1{
    width: 259px;
    height: 264px;
    margin-top: 85px;
    margin-left: 161px;

}

.group11 {
    font-weight: 700;
    font-size: 18px;
}


.group12 {
    font-weight: 400;
    margin-top: 33px;
    font-size: 13px;


    
}
.group13 {
    font-weight: 400;
    margin-top: 141px;
    font-size: 13px;
}

.group2{
    width: 254px;
    height: 164px;
    margin-top: 85px;
    margin-left: 30px;
}

.group21{
    font-weight: 700;
    font-size: 18px;
}

.group22{
    font-weight: 400;
    font-size: 13px;
    margin-top: 28px;
}

.group3{
    margin-top: 85px;
    width: 122px;
    height: 128px;
}

.group31{
    font-weight: 700;
    font-size: 18px;
}

.group32{
    margin-top: 33px;
    font-weight: 400;
    font-size: 13px;   
}

.group33{
    margin-top: 11px;
    font-weight: 400;
    font-size: 13px;
}

.footer_logo{
    margin-top: 20px;
    width: 66px;
    height: 14px; 
}


.group4 {
    margin-top: 85px;
    margin-left: 166px;
    width: 96px;
    height: 22px;
}

.bank {
    display: flex;
    margin-left: 166px;
    margin-top: 33px;
    width: 216px;
    height: 31px;  
}